article {
    display: flex;
    flex: 4;
    margin: 0px -2000vh 0px 0px;
    }
    
    .toc {
      position: fixed;
      top: 7em;
      right: -10em;
      max-width: 30%;
    }
    
    .toc h2 {
      font-size: 1.25em;
    }
    
    .toc ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    .toc li {
      margin: 0;
      padding: 0;
    }
    
    .toc a {
      display: block;
      padding: 0.1em 0.2em;
      margin-bottom: 0.1em;
      border-radius: 4px;
      color: rgb(152, 156, 214);
      text-decoration: none;
      transition: all 0.3s ease-out;
      margin: 0px 400px 0px 0px;
    }
  
    .toc a:hover,
    toc a:focus-visible {
      background-color: #eee;
    }
