.card {
    color: white;
    font-size: 1em;
    background-color: #2e3642;
    border-radius: 30px;
    border: 2px solid black;
}

.card-title {
    padding: 20px;
    font-size: 45px;
    text-align: center;
}

.card-body {
    font-size: 22px;
    padding: 22px;
    line-height: 1.6;
}


