:root {
    --primary: #39A9DB;
}

.btn {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.btn--primary--solid {
    background-color: var(--primary);
    color: var(--white);
    border: none;
}

.btn--medium {
    padding: 10px 50px;
    font-size: 18px;
}

.btn--left {
    top: 68em;
    right: 119em;
    position: fixed;
}

.btn--right {
    top: 68em;
    right: 14em;
    position: fixed;
}
