.smallIcon{
    width: 60px;
    height: 60px;
    float: right;
    filter: invert(100%);
}

.wideButton{
    width: 1000px;
    padding: 30px 45px 30px 80px;
    margin: 20px 100px 20px 100px;
    border: none;
    border-radius: 15px;
    color:white;
    font-size: 32pt;
    font-weight: 600;
    text-align: left;
}

.p{
    float: right;
    text-align: right;

}

.whiteTextField{
    background-color: white;
}

.bigIcon{
    width: 100px;
    height: 100px;
}