.bigblue {
    color: DodgerBlue;
    padding: 40px;
    font-family: Sans-Serif;
    text-align: center;
  }
  /*
  .homeButton #green{
    background-color: #6FAD6E;
  }
  .homeButton #blue{
    background-color: #4073C3;
  }
  .homeButton #red {
    background-color: #BF4C4C;
  }
  */
  .homeButton{
    padding: 10px;
    margin: 0px 50px 0px 50px;
    width: 180px;
    height: 210px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.5);
    float: left;
    font-size: 18pt;
    color: white; 
    border: none;
    font-weight: 600;
    transition: 0.3s;
    animation: ease-in;
  }
  
  .homeIcon :hover {
    filter: brightness(0.15);
    background-image: linear-gradient(rgba(0, 0, 0, 0.4) 0 0);
  }
  
  .homeIcon  {
    width: 85px;
    height: 85px;
    padding-bottom: 5px;
    filter: invert(100%);
    border-radius: 0px;
    border: none;
  }
