.container {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
}

main {
    max-width: 1500px;
    background-color: #161822;
    padding: 16px;
    border-radius: 8px;
    margin-left: 8px;
    margin: 50px 0px 0px 0px;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
    background-color: #1F2233;
    color: #D8DEE9;
}

.mainTable{
    max-width: 800px;
    background-color: #161822;
    padding: 16px;
    border-radius: 8px;
    position: fixed;
    top: 3em;
    right: -10em;
    width:155px;
    height: 275px;
    margin: 58px 400px 0px 400px;
}

.some{
    overflow: hidden;
}

.domino_img{
    width: 700px;
    height: 200px;
    margin-left: 200px;

    border-radius: 0px;
}