/* FLEXBOX */
.container_1 {
    display: flex;
    margin: 60px;
    gap: 10px;
}

.container_2 {
    display: flex;
    margin-bottom: 5%;
}

.item_1 {
    width: 85%;
}

.item_3 {
    flex-grow: 2;
    margin: 0 15%;
    width: 50%;
}

.item_4 {
    flex-grow: 2;
    margin: 0 20%;
    width: 50%;
}


/* IMAGE */
.domino-image {
    border-radius: 5%;
    width: 500px;
    height: 300px;
    display: block;
    margin: 30px auto;
    border: 5px solid #ffffff;
}

li {
    list-style-type: none;
}

#markBlue {
    color: #29b6f6
}
#markGreen {
    font-weight: normal;
    color: #2ECC71
}

#example {
    font-size: 25px;
    color: #2ECC71
}

#markOrange {
    font-weight: normal;
    color: #f57e12
}

#heading {
    font-weight: bold;
    font-size: 24px;
    color: #9B59B6;
    margin: 5px;
}



/* PAGE BUTTON */

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    width: 60px;
    height: 60px;
    font-size: 2em;
    background-color: #29b6f6;
    color: white;
    border-radius: 50%;
}


.btn:hover {
    background-color: #ddd;
    color: black;
}



