/* FLEXBOX */
.container_1 {
    display: flex;
    margin: 60px;
    gap: 10px;
}

.container_2 {
    display: flex;
    margin-bottom: 5%;
}

.item_1 {
    max-width: 85%;
}

.item_2 {

}

.item_3 {
    flex-grow: 2;
    margin: 0 15%;
}

.item_4 {
    flex-grow: 2;
    margin: 0 20%;
}


/* IMAGE */

.domino-image {
    border-radius: 5%;
    width: 500px;
    height: 300px;
    display: block;
    margin: 30px auto;
    border: 5px solid #ffffff;
}


#colorText {
    color: #29b6f6
}



/* PAGE BUTTON */

.btn {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    width: 60px;
    height: 60px;
    font-size: 2em;
    background-color: #29b6f6;
    color: white;
    border-radius: 50%;
}

.btn:hover {
    background-color: #ddd;
    color: black;
}


/* MATH BUTTON */

.symbolBackground {
    background-color: #9d52ff;
    padding: 16px;
    border-radius: 8px;
    margin-right: 584px;
    margin-left: 700px;
}

.symbolButton {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: #6c2cbe;
    transform: scale(1.1);
    border: none;
    width: 50px;
    height: 50px;
    font-size: 18px;
    margin-right: 20px;
}

.some {
    overflow: hidden;
}




