.menu_buttons{
    background-color: #2e3642;
    border-radius: 30px;
    border: 1px solid black;
    width: 1200px;
    margin: 60px 100px;
    align-items: center;
    padding-bottom: 50px;
    padding-top: 50px;
}
